/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/public_html/grunt/*
/public_html/img/*
/public_html/media/*
/public_html/node_modules/*
/public_html/dist/*
/public_html/vendor/*
/public_html/.sass-cache/*