/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/grunt/*
/web/img/*
/web/media/*
/web/node_modules/*
/web/dist/*
/web/vendor/*
/web/.sass-cache/*